openapi: 3.2.0
info:
  title: JuriSign Bulk API
  description: Electronic signature API (eIDAS SES level) with OTP verification (email or SMS).
  version: 3.24.1
  contact:
    name: JuriSign Support
    email: support@jurisign.fr
    url: https://jurisign.fr
  license:
    name: Proprietary
servers:
- url: https://jurisign.fr/api/v1
  description: Production (also serves sandbox requests — see POST /auth/sandbox-token)
security:
- bearerAuth: []
tags:
- name: Bulk
  description: Merge templates and bulk campaigns (one individualised request per recipient)
paths:
  /bulk-templates:
    get:
      summary: List Bulk Templates
      description: Retrieve reusable merge-field HTML templates used by bulk campaigns.
      operationId: listBulkTemplates
      tags:
      - Bulk
      responses:
        '200':
          description: Bulk templates list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkTemplate'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      summary: Create Bulk Template
      description: 'Create a merge-field HTML template (e.g. `

        Bonjour {{prenom}} {{nom}}

        `). Merge fields are auto-extracted from the content.'
      operationId: createBulkTemplate
      tags:
      - Bulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - html_content
              properties:
                name:
                  type: string
                  maxLength: 255
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 1000
                html_content:
                  type: string
                  description: HTML with {{field}} placeholders
      responses:
        '201':
          description: Bulk template created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkTemplate'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationError'
  /bulk-templates/{id}:
    get:
      summary: Get Bulk Template
      operationId: getBulkTemplate
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Bulk template details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkTemplate'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update Bulk Template
      operationId: updateBulkTemplate
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type:
                  - string
                  - 'null'
                html_content:
                  type: string
      responses:
        '200':
          description: Bulk template updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkTemplate'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Bulk Template
      description: Fails with 422 if the template is still referenced by a campaign.
      operationId: deleteBulkTemplate
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Bulk template deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error'
  /bulk-campaigns:
    get:
      summary: List Bulk Campaigns
      operationId: listBulkCampaigns
      tags:
      - Bulk
      parameters:
      - name: status
        in: query
        schema:
          type: string
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Bulk campaigns list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkCampaign'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      summary: Create Bulk Campaign
      description: Create a bulk campaign with recipients provided directly as JSON (no Excel upload needed for API clients). Each recipient generates one individualized sign request, merged from the bulk template. Invalid rows (missing fields, invalid email, duplicate email) are skipped and reported in `skipped_recipients`, not fatal.
      operationId: createBulkCampaign
      tags:
      - Bulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - bulk_template_id
              - expiry_hours
              - otp_channel
              - recipients
              properties:
                name:
                  type: string
                  maxLength: 255
                bulk_template_id:
                  type: string
                  format: uuid
                expiry_hours:
                  type: integer
                  minimum: 1
                  maximum: 720
                otp_channel:
                  type: string
                  enum:
                  - sms
                  - email
                message:
                  type:
                  - string
                  - 'null'
                  maxLength: 2000
                require_selfie:
                  type: boolean
                recipients:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                    - nom
                    - prenom
                    - email
                    properties:
                      nom:
                        type: string
                      prenom:
                        type: string
                      email:
                        type: string
                        format: email
                      telephone:
                        type:
                        - string
                        - 'null'
                      adresse:
                        type:
                        - string
                        - 'null'
                    description: Extra keys are accepted and become available as {{merge fields}} in the bulk template.
      responses:
        '201':
          description: Campaign created (draft, not yet launched)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkCampaign'
                  skipped_recipients:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationError'
  /bulk-campaigns/{id}:
    get:
      summary: Get Bulk Campaign
      operationId: getBulkCampaign
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Bulk campaign details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkCampaign'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Bulk Campaign
      description: Fails with 422 if the campaign is currently processing.
      operationId: deleteBulkCampaign
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Bulk campaign deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error'
  /bulk-campaigns/{id}/launch:
    post:
      summary: Launch Bulk Campaign
      description: Dispatches an asynchronous job that generates each recipient's document, creates their sign request, and sends it. Fails with 422 if the organization does not have enough remaining credits.
      operationId: launchBulkCampaign
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: 'Campaign launched (status: processing)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkCampaign'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error'
  /bulk-campaigns/{id}/cancel:
    post:
      summary: Cancel Bulk Campaign
      operationId: cancelBulkCampaign
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Campaign cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkCampaign'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error'
  /bulk-campaigns/{id}/retry:
    post:
      summary: Retry Failed Recipients
      description: Resets recipients in error back to pending so the campaign can be launched again.
      operationId: retryBulkCampaign
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Failed recipients reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkCampaign'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error'
  /bulk-campaigns/{id}/export:
    get:
      summary: Export Campaign Results
      description: Per-recipient status, send/sign timestamps, and error messages.
      operationId: exportBulkCampaignResults
      tags:
      - Bulk
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Recipient results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        nom:
                          type: string
                        prenom:
                          type: string
                        email:
                          type: string
                        telephone:
                          type:
                          - string
                          - 'null'
                        status:
                          type: string
                        sent_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        signed_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        error_message:
                          type:
                          - string
                          - 'null'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    MessageResponse:
      type: object
      properties:
        message:
          type: string
    BulkCampaign:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
          - draft
          - processing
          - sending
          - completed
          - partially_sent
          - failed
          - cancelled
        template:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        progress:
          type: integer
          description: Percentage 0-100
        stats:
          type: object
          properties:
            total:
              type: integer
            processed:
              type: integer
            sent:
              type: integer
            signed:
              type: integer
            errors:
              type: integer
            pending:
              type: integer
        started_at:
          type:
          - string
          - 'null'
          format: date-time
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
        cancelled_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        created_by:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
    BulkTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        merge_fields:
          type: array
          items:
            type: string
          example:
          - nom
          - prenom
          - lot
        html_content:
          type: string
          description: Only present on show/create/update responses
        created_at:
          type: string
          format: date-time
        created_by:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Resource UUID
      schema:
        type: string
        format: uuid
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Not found.
    Error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthenticated:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthenticated.
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Obtain a token via POST /auth/token, then pass it as: Authorization: Bearer {token}'
