openapi: 3.2.0
info:
  title: JuriSign Webhooks API
  description: Electronic signature API (eIDAS SES level) with OTP verification (email or SMS).
  version: 3.24.1
  contact:
    name: JuriSign Support
    email: support@jurisign.fr
    url: https://jurisign.fr
  license:
    name: Proprietary
servers:
- url: https://jurisign.fr/api/v1
  description: Production (also serves sandbox requests — see POST /auth/sandbox-token)
security:
- bearerAuth: []
tags:
- name: Webhooks
  description: Manage webhook endpoints for event notifications
paths:
  /webhooks:
    get:
      summary: List Webhook Endpoints
      description: List all webhook endpoints for your organization.
      operationId: listWebhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhook endpoints
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEndpoint'
                  available_events:
                    type: array
                    items:
                      type: string
                    example:
                    - sign_request.sent
                    - sign_request.completed
                    - sign_request.cancelled
                    - signer.signed
                    - signer.declined
                    - sign_request.relaunched
                    - public_form.submitted
                    - sign_request.submitted_for_approval
                    - sign_request.approved
                    - sign_request.rejected
                    - payment.completed
                    - payment.failed
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      summary: Create Webhook Endpoint
      description: Register a new webhook endpoint. The response includes the signing secret which is only shown once.
      operationId: createWebhook
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              - events
              properties:
                url:
                  type: string
                  format: uri
                  maxLength: 500
                  example: https://your-app.com/webhooks/jurisign
                  description: The HTTPS URL to receive webhook payloads
                events:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                    - sign_request.sent
                    - sign_request.completed
                    - sign_request.cancelled
                    - signer.signed
                    - signer.declined
                    - sign_request.relaunched
                    - public_form.submitted
                    - sign_request.submitted_for_approval
                    - sign_request.approved
                    - sign_request.rejected
                    - payment.completed
                    - payment.failed
                  description: Events to subscribe to
      responses:
        '201':
          description: Webhook created (secret shown only once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookEndpoint'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationError'
  /webhooks/{id}:
    put:
      summary: Update Webhook Endpoint
      description: Update a webhook endpoint's URL, events, or active status.
      operationId: updateWebhook
      tags:
      - Webhooks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                    enum:
                    - sign_request.sent
                    - sign_request.completed
                    - sign_request.cancelled
                    - signer.signed
                    - signer.declined
                    - sign_request.relaunched
                    - public_form.submitted
                    - sign_request.submitted_for_approval
                    - sign_request.approved
                    - sign_request.rejected
                    - payment.completed
                    - payment.failed
                is_active:
                  type: boolean
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookEndpoint'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Webhook Endpoint
      description: Delete a webhook endpoint and all its delivery logs.
      operationId: deleteWebhook
      tags:
      - Webhooks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhooks/{id}/logs:
    get:
      summary: Webhook Delivery Logs
      description: View delivery logs for a specific webhook endpoint.
      operationId: getWebhookLogs
      tags:
      - Webhooks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Delivery logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookLog'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
  /webhooks/{id}/regenerate-secret:
    post:
      summary: Regenerate Webhook Secret
      description: Generate a new signing secret for the webhook endpoint. The old secret will no longer be valid.
      operationId: regenerateWebhookSecret
      tags:
      - Webhooks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: New secret generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    WebhookLog:
      type: object
      properties:
        id:
          type: integer
        event:
          type: string
        status:
          type: string
          enum:
          - success
          - pending
          - failed
        response_status:
          type:
          - integer
          - 'null'
        attempts:
          type: integer
        next_retry_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        secret:
          type: string
          description: Full secret only shown on creation
        events:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        stats:
          type: object
          properties:
            success:
              type: integer
            failed:
              type: integer
            pending:
              type: integer
    MessageResponse:
      type: object
      properties:
        message:
          type: string
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Not found.
    Unauthenticated:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthenticated.
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Forbidden.
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Obtain a token via POST /auth/token, then pass it as: Authorization: Bearer {token}'
