openapi: 3.2.0
info:
  title: JuriSign Public Forms API
  description: Electronic signature API (eIDAS SES level) with OTP verification (email or SMS).
  version: 3.24.1
  contact:
    name: JuriSign Support
    email: support@jurisign.fr
    url: https://jurisign.fr
  license:
    name: Proprietary
servers:
- url: https://jurisign.fr/api/v1
  description: Production (also serves sandbox requests — see POST /auth/sandbox-token)
security:
- bearerAuth: []
tags:
- name: Public Forms
  description: 'Shareable links: each respondent signs their own generated request, no account needed'
paths:
  /public-forms:
    get:
      summary: List Public Forms
      description: Retrieve the shareable public forms (PowerForms) of your organization.
      operationId: listPublicForms
      tags:
      - Public Forms
      parameters:
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Public forms list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicForm'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      summary: Create Public Form
      description: Publish a shareable link backed by one of your sign request templates. Anyone opening the link fills in their details and becomes the signer of their own signature request, generated on the fly. The template MUST have exactly one signer and its own copy of the PDF.
      operationId: createPublicForm
      tags:
      - Public Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - sign_request_template_id
              properties:
                name:
                  type: string
                  maxLength: 255
                sign_request_template_id:
                  type: string
                  format: uuid
                  description: Template with exactly 1 signer and its own document
                expires_at:
                  type:
                  - string
                  - 'null'
                  format: date-time
                daily_submission_limit:
                  type:
                  - integer
                  - 'null'
                  minimum: 1
                  description: Anti-abuse cap; clamped to the platform maximum
      responses:
        '201':
          description: Public form created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PublicForm'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationError'
  /public-forms/{id}:
    get:
      summary: Get Public Form
      operationId: getPublicForm
      tags:
      - Public Forms
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Public form details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PublicForm'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update Public Form
      description: Rename, pause/reactivate, change the expiry or the daily cap.
      operationId: updatePublicForm
      tags:
      - Public Forms
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - paused
                expires_at:
                  type:
                  - string
                  - 'null'
                  format: date-time
                daily_submission_limit:
                  type:
                  - integer
                  - 'null'
      responses:
        '200':
          description: Public form updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PublicForm'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Public Form
      operationId: deletePublicForm
      tags:
      - Public Forms
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Public form deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
  /public-forms/{id}/rotate-token:
    post:
      summary: Rotate Public Form Token
      description: Generate a new public token. The previous link stops working immediately — use this if a link leaked or was shared too widely.
      operationId: rotatePublicFormToken
      tags:
      - Public Forms
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: New token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PublicForm'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    MessageResponse:
      type: object
      properties:
        message:
          type: string
    PublicForm:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - paused
          - expired
        public_url:
          type: string
          format: uri
          description: The shareable link to publish
          example: https://www.jurisign.fr/formulaires/AbCd…
        template:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
        daily_submission_limit:
          type:
          - integer
          - 'null'
        submissions_count:
          type: integer
        last_submitted_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Resource UUID
      schema:
        type: string
        format: uuid
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Not found.
    Unauthenticated:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthenticated.
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Obtain a token via POST /auth/token, then pass it as: Authorization: Bearer {token}'
